@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  width: 100%;
  color: white;
  min-width: 360px;
}

.nav-about {
  position: absolute;
  display: flex;
  padding-right: 50%;
}

.landing-page {
  display: grid;
  padding: 50px;
  gap: 20px;
  width: 100%;
  height: auto;
  margin: 20px 0 20px 0;
}

.landing-page p {
  padding: 5px;
  font-weight: 400;
}

.btn-primary {
  background-color: rgb(19, 147, 94);
  color: white;
  border-radius: 5px;
  padding: 4px;
  font-weight: 300;
}
.card-title {
  padding: 5px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 30px 0px 15px 15px;
  transition: 0.2s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  border-radius: 30px 0px 0px 0px;
}

.card-actions {
  padding: 5px;
  display: flex;
  padding-right: 10px;
}

.marquee {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75px;
  /* transition: 0.2s ease; */
}

.input {
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  height: 40px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.search-container:hover {
  transition: 0.2s;
  background-color: white;
  color: black;
  transform: scale(1.1);
}

.side-btn:hover {
  transition: 0.2s;
  background-color: white;
  color: #4a785e;
  border-radius: 30px;
  padding: 3px;
  transform: scale(1.1);
}

.cat-container:hover {
  transform: scale(1.3);
  transition: 0.2s;
  color: #4a785e;
}

.cat-container {
  margin: 0 30px 0 30px;
  height: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
  min-width: 360px;
}
